body {
    background-color: rgb(239, 239, 239);;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial sans-serif;
}

.form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 350px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.334);
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.label_choice {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.label_input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #a8a6a6;
    background-color: #4CAF50;
    border-radius: 4px;
    box-sizing: border-box;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #a8a6a6;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 48%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #a8a6a6;
    border-radius: 4px;
    cursor: pointer;
    color: #f9f9f9;
}

button {
    background-color: #4CAF50;
}

button:hover {
    background-color: #358539;
}

.side {
    width: 20%;
    height: 100%;
    background-color: rgb(239, 239, 239);
}